
.terraform/
**/.terraform/
*.tfstate
*.tfstate.backup
=======
# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Sensitive files
*.pem
*.key

# Variable files
terraform.tfvars

# Logs
*.log
crash.log
